.login_container{
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    
    height: 215px;
    min-height: 215px;
    max-height: 215px;

    background-color: #ffffff;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    padding-left: 7px;
    padding-right: 7px;
}
.login_container h2{
    border: 0; 
    border-bottom: 1px solid #e5e5e5; 
    line-height: 30pt;
}
.login_leftSide{
    padding-left: 30px;
    padding-right: 0px;
    width: 50%;
    float: left;
}
.login_rightSide{
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    float: right;
}
#login_buttonLogin{
    width: 100%;
    background-color: #00ABA9;
    color: #ffffff;
}
.login_errorElementsForm{
    background-color: #F5CECE;
    border: 1px solid red!important;
}
.login_errorMessage{
    background-color: #F5CECE;
    border: 1px solid red!important;
    color: red;
    margin-bottom: 7px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    display: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.login_errorMessageText{
    margin-left: 10px;
}
.login_footer{
    width: 100%;
    position:fixed;
    bottom:0;
    background-color: #00ABA9;
    color: #ffffff;
    text-align: center;
    font-family: 'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}





